/* start header*/

body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul{
  list-style: none;
  position: absolute;
  top: 20px;
  left: 300px;
  color: #fff;
}
nav{
  height: 70px;
}
.logo{
  height: 50px;
  display: block;
  position: absolute;
  left: 30px;
  top: 11px;
}
ul li{
  float: left;
  margin: 10px;
  text-transform: capitalize;
}
ul li a{
  text-decoration: none;
  color: #fff;
}
li a:hover{
  color:#337AB7;
}

ul li .btn{
  color: #fff;
  background: #038dfe ;
  border-radius: 12px;
  border: #038dfe solid 10px;
  text-align: center;
  width: 150px;
  text-transform: uppercase;
  position: absolute;
  top: 0.5px;

}
ul li ul li{
  float: none;

}
ul li ul{
  display: none;

}
ul li:hover ul{
  display: block;
  background: #111;
}
.down{
  position: absolute;
  left: 575px;
  top: 30px;
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/bgheader.jpg);
  background-position: center;
  background-size: cover;
  height: 480px;
  width: 100%;
  margin-top: -20px;
}
header h1{
  position: absolute;
  top: 35%;
  left: 5%;
  color:#FFF;
}
header h3{
  position: absolute;
  top: 50%;
  left: 5%;
  color:#FFF;
}
.btn1 a{
  text-decoration: none;
  color: #fff;
}
.btn2 a{
  text-decoration: none;
  color: #fff;
}
.btn1{
  background: none;
  color: #fff;
  border-radius: 24px;
  border: #fff solid 2px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 65%;
  left: 5%;
  padding: 20px;
  width: 180px;


}

.btn2{
  background: #038dfe;
  color: #fff;
  border-radius: 24px;
  border: #038dfe solid 2px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 65%;
  left: 20%;
  padding: 20px;
  width: 230px;

}
.btn2 a:hover{
  background: #fff;
  color: #000;
  border-radius: 24px;
  border: #fff solid 2px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -5%;
  left: -2%;
  padding: 20px;
  width: 230px;

}
.btn1 a:hover{
  background: #fff;
  color: #000;
  border-radius: 24px;
  border: #fff solid 2px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -5%;
  left: -2%;
  padding: 20px;
  width: 150px;
}

/* End header*/

*{
  margin: 0;
  padding: 0;
  
}

.title{
  margin-top: 54px;
  padding-left: 40%;
  color: black;
  margin-bottom: -65px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;

}

p{
  font-size: 18px;
}

.idd{
  display: flex;
  width : 100%;
   height : 500px;
}
.tofyc{
  flex-basis: 50%;
  width: 85%;
  height: 85%;
  padding-left: 1%;
  padding-top: 1%;
  
}
.paragraph{
  flex-basis: 50%;
  padding-left: 10%;
  font-size: 21px;
  margin-top: 30px;
}
.H3{
  font-size: 26px;
  padding-left: 30%;
  margin-top: 5%;

}
.H4{
  font-size: 28px;
  padding-left: 48%;
  margin-top: 5%;

}
.cccc{
  flex-basis: 50%;
  width: 85%;
  height: 85%;
  padding-left: 20%;
  padding-top: 10%;
  border: black;
}
.divv{
  display: flex;
  width : 100%;
 
  

}
.H44{
  flex-basis: 50%;
  padding-left: 25%;
  font-size: 26px;

}
.dec1{
 
  width: 100px;
  height:60px;
  margin-top: 10px;
  flex-basis: 50%;
  font-optical-sizing: 26px;
  background-color: #038DFE;
   border: black;
  padding: 8px 18px 8px 18px;
  margin-left:1px;
  font-size: 23px;
  background-position: center;
  border-radius: 015px;

}
.dec1:hover ,.dec1:active{
  color: #038DFE;
  background-color: white;
  border: black;
}

/* ########################### */
.cree{
  margin-top: 200px;
  margin-left: 370px;
  font-size: 40px;
}
.ocp{
  margin-left: 45%;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80px;
  height: 100px;
}
.support{
  color: #337ab7;
}
.inscr{
  display:flex;
  width: 100%;
  height: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.mtn{
  flex-basis: 50%;
  font-family: Montserrat;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 0;
}
.inscription_footer {
  flex-basis: 50%;
  padding: 10px 80px 10px 80px;
  border-radius: 30px;
  background-color: #038DFE;
  color : white;
  border: none;
  margin-right: 60px;
}
/* ############################ */

/* srat footer*/
footer{
  display: flex;
  background-color:black;
  font-family: Montserrat;
  color: #8f9296;
  width: 100%;
  height: 90px;
  font-size: 14px;
  letter-spacing: 0.08em;
}

.b1{
  flex-basis: 40%;
  margin-top: 22px;


}
.b2{
  flex-basis: 37%;

}

.contact{
  font-size: 14px;
}

.rs{
  flex-basis: 23%;
  margin-top: 16px;
}

.social{
  margin-top: 10px;
  margin-top: 22px;
}
.f{
  width: 11.44px;
  height: 20px;
  margin-left: 100px;
  margin-right: 20px;
}
.t{
  width: 18.57px;
  height: 20px;
  margin-right: 20px;

}
.l{
  width: 17.15px;
  height: 20px;
  margin-right: 20px;
}
.y{
  width: 17.15px;
  height: 20px;
}
.copyright{
  margin-top: 60px;
}
.support{
  color: #337ab7;
  margin-top: 25px;
  font-size: 15px;
}
  /* End footer*/